<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boiler plate</title>

    <!-- FONTAWESOME -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- BS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="text-center mt-5 border">
          <h3>TO DO LIST</h3>
        </div>

        <!-- COLLEGO L'INPUT A UNA OGGETTO IN DATA -->
        <div class="input-group my-2">
          <input
            type="text"
            class="form-control"
            placeholder="Cosa devi fare?"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            v-model="newTask.text"
          />
          <!-- BUTTON CHE AGGIUNGE UN TODO -->
          <!-- USO UN METODO PER AGGIUNGERE UN TODO -->
          <button
            class="btn btn-outline-success"
            type="button"
            id="button-addon2"
            @click="addNewTodo()"
          >
            Aggiungi
          </button>
        </div>

        <ul>
          <!-- STAMPO ALL'INTERNO DI UNA LISTA IN ITEM PER OGNI TODO ATTRAVERSO IL CICLO FOR -->
          <!-- USIAMO UN CONTROLLO CHE AGGIUNGE UNA CLASSE CHE SBARRA IL TESTO SE E' TRUE -->
          <li
            :class="todoElement.done == true ? 'text-decoration-line-through' : ''"
            v-for="(todoElement,index) in todoList"
            @click="checked(index)"
          >
            {{ todoElement.text }}

            <!-- AGGIUNGO UN TASTO CHE ELIMINA IL TODO ASSOCIATO -->
            <span class="todo-delete">
              <i
                class="fa-regular fa-circle-xmark fs-4"
                @click="deleteTodo(index)"
              ></i>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <!-- JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- VUEJS -->
    <script src="./js/script.js"></script>
  </body>
</html>
